@charset "utf-8";

/* HONOR HOUSING - honors-housing.html */

#banner {
	background-image:url(../images/honors-images/housing-banner.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/honors-images/housing-banner-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/honors-images/housing-banner-smaller.jpg);
		}
}

#what blockquote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.25em;
	line-height: 1.5em;
}

.tabs-content img {
	max-width:100%;
	margin: auto;
	display: block;
}

#what h2 {
	clear: both;
	line-height: 1.5em;
	border-top:1px solid #D1D1D1;
}
