/* #Media Queries for Honors.html
================================================== */
	#content .one-third.column                { width: 258px; }
	
	@media only screen and (min-width:960px) {}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px)
	{
		#content .one-third.column                { width: 194px; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px)
	{	
		#content .one-third.column { width: 258px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px)
	{
		#content .one-third.column { width: 378px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

/*** REQUIRED ON ALL HONORS PAGES ========================================================== */
/**/	.row {
/**/		margin-bottom:0;
/**/	}
/**/	
/**/	#logo {
/**/		padding-top: 40px;
/**/		margin-bottom:0;
/**/	}
/**/
/**/	#menu {
/**/		text-align:center;
/**/		height:56px;
/**/		font-size:1.1em;
/**/		font-family: Georgia, "Times New Roman", Times, serif;
/**/		position:relative;
/**/		zoom:1;
/**/	}
/**/
/**/	#menu a {
/**/		text-decoration:none;
/**/		font-style:italic;
/**/	}
/**/
/**/	.menu-inner {
/**/		display:table-cell;
/**/		margin: 0 auto;
/**/		text-align:center;
/**/		vertical-align: middle;
/**/		width:100%;
/**/		height:56px;
/**/	}
/**/
/**/	#header {
/**/		margin-bottom:-56px;
/**/	}
/**/	
/**/	@media only screen and (min-width: 480px) and (max-width: 767px){
/**/		#logo {
/**/			display:none;	
/**/		}
/**/		#header {
/**/			margin-top:20px;
/**/				margin-bottom: 0px;
/**/		}
/**/
/**/		#menu {
/**/			margin-top:1em;
/**/		}
/**/		.menu-inner {
/**/			display:block;
/**/			height:auto;
/**/		}
/**/		.menu-inner div {
/**/			width: 210px !important;
/**/			height: 3em;
/**/		}
/**/	}
/**/	
/**/	@media only screen and (max-width: 479px) {
/**/
/**/		#logo {
/**/			display:none;	
/**/		}
/**/		
/**/		#header {
/**/			margin-top:20px;
/**/			margin-bottom:0px;
/**/		}
/**/
/**/		#menu {
/**/			margin-top:1em;
/**/		}
/**/		.menu-inner {
/**/			display:block;
/**/			height:auto;
/**/		}
/**/		.menu-inner div {
/**/			width: 150px !important;
/**/			height: 3em;
/**/		}
/**/	}
/**/
/*==========================================================================================*/
	#content {
		margin-bottom: 0;
	}
	
	#content div {
		border:1px solid #c8c8c8;
		padding:20px;
		margin-bottom:20px;
	}
	
	#content h4 {
		color:#990000;	
	}
	
	
/* For animation =============================================================================*/
		#slides {
			display:none;
		}
		
		#gray-overlay {
			position: absolute;
			width:100%;
			height:100%;
			background-color:black;
			opacity:0;
			filter:alpha(opacity = 0);
		}
		
		#animation {
			position:relative;	
			height:300px;
			background-color:#999999;
			overflow:hidden;
			margin-top:20px;
			margin-bottom:10px;
			top:0;
			left:0;
		}
		
		#title-slide {
			background-color:white;
			width:100%;
			height:100%;
		}
		
		#animation img {
			max-height:150%;
		}
		
		#anim-honor-logo {
			position: absolute;
			top:25%;
			min-width:0 !important;
		}
		
		#anim-the-osu {
			position:absolute;	
			top:45%;
			min-width:0 !important;
		}
		
		#animation p{
			text-align:center;
			width:100%;
			height:auto;
			position:absolute;
			font-size: 3.5em;
			height:1.2em;
			line-height:1.2em;
			color:white;
			font-family:Georgia, "Times New Roman", Times, serif;
		}
/*=====================================================================================================*/