/* #Media Queries for Honors.html
================================================== */

	@media only screen and (min-width:960px) {
	
		#honors-front-banner {
			background-image: url('../images/honors_banner.png');
			height: 300px;
			margin-top: 20px;
		}
	
	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
		#honors-front-banner {
			background-image: url('../images/honors_banner.png');
			height: 300px;
			margin-top: 20px;
		}	
	
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		
		#honors-front-banner {
			background-image: url('../images/honors_banner_med.png');
			height: 180px;
		}	
	
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		#osu-navbar {
			display:none;	
		}
				
		#header {
			margin-bottom:0.7em;
			margin-top:0;
		}
				
		.title {
			width:100%;
		}
		
		.container {
			padding-left:0.7em;
			padding-right:0.7em;
		}
		
		#misc {
			display:none;
		}
		
		#footer h1 {
			height: 1.5em;
		}
		
		#footer li {
		    border-bottom: 1px dotted black;
		    line-height: 2em;
		    margin: 0;
		    padding: 0.5em 0;
		}		
		
		#copyright p {
		    font-size: 100%;
		    line-height: 150%;
		    margin-bottom: 1em;
		}
		
		#poster {
			background:none;
		}
		
		#body {
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* IE10+ */
			background: linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=0 ); /* IE6-9 */
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
		#honors-front-banner {
			background-image: none;
			height: auto;
		}
	}
	
	.row {
		margin-bottom:0;
	}
	
/* For animation =============================================================================*/
		#slides {
			display:none;
		}
		
		#gray-overlay {
			position: absolute;
			width:100%;
			height:100%;
			background-color:black;
			opacity:0;
			filter:alpha(opacity = 0);
		}
		
		#animation {
			position:relative;	
			height:300px;
			background-color:#999999;
			overflow:hidden;
			margin-top:20px;
			top:0;
			left:0;
		}
		
		#title-slide {
			background-color:white;
			width:100%;
			height:100%;
		}
		
		#animation img {
			max-height:150%;
		}
		
		#anim-honor-logo {
			position: absolute;
			top:25%;
			min-width:0 !important;
		}
		
		#anim-the-osu {
			position:absolute;	
			top:45%;
			min-width:0 !important;
		}
		
		#animation p{
			text-align:center;
			width:100%;
			height:auto;
			position:absolute;
			font-size: 3.5em;
			height:1.2em;
			line-height:1.2em;
			color:white;
			font-family:Georgia, "Times New Roman", Times, serif;
		}
/*=====================================================================================================*/