#banner {
	background-image:url(../images/honors-images/academic-banner.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/honors-images/academic-banner-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/honors-images/academic-banner-smaller.jpg);
		}
}
