@charset "utf-8";

/* HONOR HOUSING - honors-housing.html */

#banner {
	background-image:url(../images/honors-images/events-banner.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/honors-images/event-banner-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/honors-images/events-banner-smaller.jpg);
		}
}

.tabs-content > div img {
	max-width:100%;
	margin: auto;
	display: block;
}

