#banner {
	background-image:url(../images/alumni-images/osuaa.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/alumni-images/osuaa-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/alumni-images/osuaa-smaller.jpg);
		}
}
