#banner {
	background-image:url(../images/scholars-images/visit-banner.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/scholars-images/visit-banner-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/scholars-images/visit-banner-smaller.jpg);
		}
}
