/* @Media Queries for Scholars.html
================================================== */
	#content .one-third.column                { width: 258px; }
	
	@media only screen and (min-width:960px) {}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px)
	{
		#content .one-third.column                { width: 194px; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px)
	{	
		#content .one-third.column { width: 258px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px)
	{
		#content .one-third.column { width: 378px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

	.row {
		margin-bottom:0;
	}
	
	#logo {
		padding-top: 40px;
		margin-bottom:0;
	}

	#menu {
		text-align:center;
		height:56px;
	font-size:1.1em;
		font-family: Georgia, "Times New Roman", Times, serif;
		position:relative;
		zoom:1;
		display:table;
	}

	#menu a {
		text-decoration:none;
		font-style:italic;
	}
	.menu-inner {
		display:table-cell;
		margin: 0 auto;
		text-align:center;
		vertical-align: middle;
		height:56px;
	}

	#body #header {
		margin-bottom:-56px;
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px){
		#logo {
			display:none;	
		}
		#header {
			margin-top:20px;
			margin-bottom: 0px !important;
		}

		#menu {
			margin-top:1em;
			display:block;
		}
		.menu-inner {
			display:block;
			height:auto;
		}
		.menu-inner div {
			width: 210px !important;
			height: 3em;
		}
	}
	
	@media only screen and (max-width: 479px) {

		#logo {
			display:none;	
		}
		
		#header {
			margin-top:20px;
			margin-bottom:0px !important;
		}

		#menu {
			margin-top:1em;
			display:block;
		}
		.menu-inner {
			display:block;
			height:auto;
		}
		.menu-inner div {
			width: 150px !important;
			height: 3em;
		}
	}

/*==========================================================================================*/
	#content {
		margin-bottom: 0;
	}
	
	#content > div {
		border:1px solid #c8c8c8;
		padding:20px;
		margin-bottom:20px;
	}
	
	#content h1 {
		color:#990000;	
		font-size:1.5em;
		margin-bottom:0;
		margin-top:0;
		line-height:2em;
		font-weight:normal;
	}
	
	#content .one-third {
		background-color:rgba(255,255,255,0.25);	
	}

	#content a, #content a:visited {
		color: #333333;
		outline: 0 none;
		text-decoration: underline;
	}

#content #scholars_programs_box li {
	list-style-type: none;
}
#content #scholars_programs_box h1 {
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black;
	font-size:1.2em;
	font-style: normal;
	font-weight: bold;
	padding-left:10px;	
	padding-top:10px;
}

#content #scholars_programs_box {
	background-color: #dedede;
	padding:0;
	border:none;
}

#content #scholars_programs_box a{
	color: black;
	text-decoration:none;
}

#content #scholars_programs_box a:hover {
	color:#990000;
	text-decoration:underline;
}
@media only screen and (min-width: 960px) {
	#content #scholars_programs_box {
		height: 14em;
	}

	#content #scholars_programs_box li {	
		line-height:2em;
		width: 300px;
		padding:0;
		margin:0 10px;
	}
	#content #scholars_programs_box  li.list-reset{	
		margin-top: -10em;
	}

	#content #scholars_programs_box  li.col2{	
		margin-left:320px;
	}
	#content #scholars_programs_box  li.col3{	
		margin-left:640px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {

	#content #scholars_programs_box {
		height: 15.2em;
	}

	#content #scholars_programs_box li {	
		line-height:2em;
		width: 236px;
		padding:0;
		margin:0 10px;
	}

	#content #scholars_programs_box  li.list-reset{	
		margin-top: -12em;
	}

	#content #scholars_programs_box li.list-reset.col3 {
		margin-top: -10em;
	}

	#content #scholars_programs_box  li.col2{	
		margin-left:256px;
	}
	#content #scholars_programs_box  li.col3{	
		margin-left:512px;
	}
}
	
/* For animation =============================================================================*/
		#slides {
			display:none;
		}
		
		#gray-overlay {
			position: absolute;
			width:100%;
			height:100%;
			background-color:black;
			opacity:0;
			filter:alpha(opacity = 0);
		}
		
		#animation {
			position:relative;	
			height:300px;
			background-color:#999999;
			overflow:hidden;
			margin-top:20px;
			margin-bottom:10px;
			top:0;
			left:0;
		}
		
		#title-slide {
			background-color:white;
			width:100%;
			height:100%;
		}
		
		#animation img {
			max-height:150%;
			height: auto;
			width: auto;
		}
		
		#anim-honor-logo {
			position: absolute;
			top:25%;
			min-width:0 !important;
		}
		
		#anim-the-osu {
			position:absolute;	
			top:45%;
			min-width:0 !important;
		}
		
		#animation p{
			text-align:center;
			width:100%;
			height:auto;
			position:absolute;
			font-size: 3.5em;
			height:1.2em;
			line-height:1.2em;
			color:white;
			font-family:Georgia, "Times New Roman", Times, serif;
		}

		#animation big {
			font-size: 1.75em;
		}

		#animation #leaf {
			position: absolute;
		}
		@media only screen and (max-width: 767px) {
			#animation big {
				font-size: 1.5em;
			}
		}
/*=====================================================================================================*/
