@charset "utf-8";

/* HONOR HOUSING - honors-housing.html */

#banner {
	background-image:url(../images/current-images/study-abroad.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/current-images/study-abroad-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/current-images/study-abroad-smaller.jpg);
		}
}

.tabs-content img {
	max-width:100%;
	margin: auto;
	display: block;
}

