@charset "UTF-8";
html {
	min-height:100%;
}

body {
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%); /* IE10+ */
	background: linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d8d8d8', GradientType=0 ); /* IE6-9 */
	font: 14px/21px "HelveticaNeue", "Helvetica Neue", Arial, Helvetica, sans-serif;
}


#osu-navbar {
	height:2.7em;
	line-height: 2.7em;
	background-color:#f2f2f2;
	z-index:100;
}

#osu-navbar a, #osu-navbar li {
	line-height:2.7em;
}

#osu-navbar .row {
	margin:0;
	padding:0;
}

#osu-navbar a {
	text-decoration:none;
}

#osu-navbar #osu-home {
	color: #990000;
	font-weight: bolder;
	text-decoration: none;
}

#breadcrumb {
	float:left;
}

#osu-links {
	float:right;
	height:2.7em;
}

#breadcrumb-border, #links-border {
	height:7px;
	margin:0;
	padding:0;
}

#breadcrumb-border {
	background-color:#990000;
}

#nav-bottom {
	width:100%;
	background-color:#c5c5c5;
}

#links-border {
	border-left:1px solid white;
	background: #c5c5c5; /* Old browsers */
	background: -moz-linear-gradient(left,  #282828 1%, #c5c5c5 30%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#282828), color-stop(30%,#c5c5c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #282828 1%,#c5c5c5 30%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #282828 1%,#c5c5c5 30%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #282828 1%,#c5c5c5 30%); /* IE10+ */
	background: linear-gradient(left,  #282828 1%,#c5c5c5 30%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#c5c5c5',GradientType=1 ); /* IE6-9 */
}

#osu-links {
	float:right;
	text-align:right;
}
#osu-links li {
	display:inline;
	padding-left:1em;
	margin:0;
}
#body, #footer {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .2); 
}

#body {
	background-color:white;	
}
#header {
	/*background: #969696;
	background: -moz-linear-gradient(left, #969696 0%, #c9c9c9 50%, #969696 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #969696), color-stop(50%, #c9c9c9), color-stop(100%, #969696));/
	background: -webkit-linear-gradient(left, #969696 0%, #c9c9c9 50%, #969696 100%);
	background: -o-linear-gradient(left, #969696 0%, #c9c9c9 50%, #969696 100%);
	background: -ms-linear-gradient(left, #969696 0%, #c9c9c9 50%, #969696 100%);
	background: linear-gradient(left, #969696 0%, #c9c9c9 50%, #969696 100%);
	background-size: 100% 66%;
	background-position:0 50%;
	background-repeat:no-repeat;*/
	background-image:url(../images/header-background.png);
	background-repeat:no-repeat;
	background-position:center center;
	padding:0;
	width:100%;
	margin: 1em 0 -8px 0;
	height:56px;
	text-align:center;
}
.title h1{
	font-family:"Times New Roman", Times serif;
	font-size:2em;
	font-variant:small-caps;
	color:white;
	background-color:#990000;
	/*width: 66%;*/
	text-align:center;
	height: 1.5em;
	line-height:1.5em;
	font-weight:bold;
	position:relative;
}
#scholar {
	float:right;
}
#poster {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=0 ); /* IE6-9 */
	margin-bottom:0;
}

#poster>div {
	padding-bottom:1em;	
}

#poster img {
	max-width:100%;
}

#poster #img-honors {
background: url(../images/letter-h.png), -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.5) 100%); /* FF3.6+ */
background: url(../images/letter-h.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
background: url(../images/letter-h.png),-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: url(../images/letter-h.png), -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
background: url(../images/letter-h.png), -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* IE10+ */
background: url(../images/letter-h.png), linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* W3C */
background-size: 66% auto, 75% 100%;
background-position: 0% 90%, bottom left;
background-repeat:no-repeat;
}

#poster #img-scholars {
background: url(../images/letter-s.png), -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0.5) 100%); /* FF3.6+ */
background: url(../images/letter-s.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
background: url(../images/letter-s.png),-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: url(../images/letter-s.png), -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
background: url(../images/letter-s.png), -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* IE10+ */
background: url(../images/letter-s.png), linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0.5) 100%); /* W3C */
background-size: 66% auto, 75% 100%;
background-position: 100% 90%, bottom right;
background-repeat:no-repeat;
}

#poster p {
	margin-top:0em;
	margin-bottom:0;
}

.title h1 {
	margin-top:0em !important;
}

#honorsButton, #scholarsButton {
	background-color:#990000;
	color:white;
	text-align:center;
	font-style:normal;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	height:2em;
	line-height:2em;
	/*margin-top:1em;
	margin-bottom:1em;*/
}

.buttonScript {
	background-image: linear-gradient(bottom, rgb(153,0,0) 0%, rgb(175,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(175,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(175,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(175,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(153,0,0) 0%, rgb(175,0,0) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(153,0,0)),
		color-stop(1, rgb(175,0,0))
		);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af0000', endColorstr='#990000',GradientType=0 ); /* IE6-9 */
	border-bottom:2px solid #ae0000;
	border-top:2px solid #990000;
	border-left:2px solid #a40000;
	border-right:2px solid #a40000;
};

.benefits p {
	margin-bottom:1em !important;
}

.benefits h1{
	color:#990000;
	font-size: 128%;
	font-weight:bold;
	font-style:italic;
	margin-bottom:0;
}

.benefits h2 {
	color:#990000;
	font-size: 100%;
	font-weight:bold;
	font-style:italic;
	margin-bottom:0;
}

.benefits h1 a {
	font-size:66%;
	text-decoration:none;
	font-weight:normal;
}

.benefits img {
	max-width:100%;
}

#honors-benefits, #scholars-benefits {
	padding-top:1em;
	padding-bottom:1em;
	background-color:rgba(255,255,255,0.5);
}

#scholars-benefits {
	float:right;
}

#scholars-benefits li{
	padding-left:1em;
}

#honors-benefits li{
	padding-left:1em;
}

#two-path {
	background-image:url(../images/twopaths.png);
}

#two-path img {
	opacity:0;
	width:100%;
	heigh:100%;
}

#two-path-wrapper {
	width:220px;	
}

#misc {
	background-color:white;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding-top:0;
	margin-bottom:0;
	padding-bottom:0em;
	font-family: "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
}

#misc a {
	text-decoration:none;	
}

#misc img{
	display:block;
	margin:0 auto;
	padding:0;
}

.vCenterWrapper {
	margin:0 auto;
	display:table;
}

.vcenter {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:100px;
	margin:auto;
	width:100%;
}

#footer {
	background-color:#b3b3b3;
	padding-top:2em;
	padding-bottom:1em;
	border-top:1px solid #999999;
}

#footer h1 {	
	color:black;
	font-size: 100%;
	font-weight:bold;
	line-height:150%;
	height:3em;
}

#footer a {
	color:black;
	text-decoration:none;
}

#footer a:hover, #footer a:active {
	color:#990000;
}

#footer li {
	border-bottom:1px dotted black;
	margin:0;	
	line-height:100%;
	padding:0.5em 0;
}

#copyright p {
	font-size:75%;
	line-height:150%;
	margin-bottom:0.75em;
}

#copyright img {
	max-width:100%;
}
	