@charset "utf-8";

/* HONOR HOUSING - honors-housing.html */

#banner {
	background-image:url(../images/center-images/about.jpg);
}

@media only screen and (max-width: 767px){
		#banner {
			background-image:url(../images/center-images/about-small.jpg);
		}
	}
	
@media only screen and (max-width: 479px){
		#banner {
			background-image:url(../images/center-images/about-smaller.jpg);
		}
}

.tabs-content img {
	max-width:100%;
	display: block;
}
.tabs-content td {
	padding: 1em;
}

#content .tabs-content p {
	line-height: 2em;
	margin: 0;
}

.tabs-content table * {
	vertical-align: top;
}

#professional h1, #student h1 {
	border-bottom: 2px solid #990000;
}
